<template>
    <main>
        <div class="container shadow  ">
            <div class="row ">
                <div class="col bg-white bg d-none d-lg-block  col-md-5 col-lg-5 col-xl-6 rounded-3 ">
                </div>
                <div class="col bg-white rounded-3">
                    <div class="text-end imag-logo">
                        <img src="../assets/251d8128-0301-4ff7-af27-fcf97e3e7f2e.png" alt="" width="250" height="80">
                    </div>

                    <form action="#" @submit.prevent="procesarFormulario">
                        <h3 class="mb-5 mt-5">Ingreso de Usuarios</h3>
                        <div class="row mb-4 ">
                            <label for="" class="from-label ">Correo Electronico</label>
                            <input type="email" class="form-control border border-secondary"
                            placeholder="Email"
                            v-model.trim="email"
                            :class="[error.tipo === 'email' ? 'is-invalid' : ''  ]"
                            >
                        </div>
                        <div class="row mb-5" >
                            <label for="" class="from-label">Contrasena</label>
                            <input type="password" class="form-control border border-secondary"
                            placeholder="Password"
                            v-model.trim="password1"
                            :class="[error.tipo === 'password' ? 'is-invalid' : '']"
                            >
                        </div>
                        <button class="btn btn-primary w-50 mb-5" >Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

</template>

<script>
import { mapActions, mapState } from 'vuex'
import Swal from 'sweetalert2'
    export default {
        data() {
            return {
                email: '',
                password1: '',
                usuario: ''
            }
        },
        computed:{
            bloquear(){
                if(this.errors=== null){
                    return true
                }

                return true       
            },
            ...mapState(['error'])
   
        },
        methods:{
            ...mapActions(['ingresoUsuario']),
            async procesarFormulario(){
                await this.ingresoUsuario({email:this.email, password: this.password1})
                if(this.error.tipo !== null){
                    return
                }
                this.email= '';
                this.password1= '';
                
            }
        }   
    }
</script>

<style  scoped>
main{
    height: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.imag-logo{
    display: flex;
    margin-left: 140px;
    
}
.bg{
    background-image: url(../assets/bg.png);
    background-size: 100%;
}
span{
    color: rgb(201, 75, 212);
}
input{
    width: 70%;
    margin: auto;
}
@media (max-width: 300px){
    input{
        text-align: center;
    }
}

</style>