<template>
<main>
    
    <div class="container-fluid     ">
        <div class="col inicio-respon">
            <div class="row  inicio">
                    <h2 class="w-75 mb-3 titulo-inicio text-primary" >GESTION DE TALENTO HUMANO </h2>
                     <p class="parrafo ">¡Bienvenido a la Universidad Laica Eloy Alfaro de Manabí, donde florece el talento humano hacia el futuro!
                        En nuestra institución, nos enorgullece nutrir y desarrollar el talento humano, creando líderes y profesionales capacitados para enfrentar los desafíos del siglo XXI. Nuestra universidad se destaca por brindar una educación integral y de calidad, centrada en el crecimiento personal y profesional de nuestros estudiantes.

Aquí, encontrarás un entorno inclusivo y diverso que fomenta la excelencia académica y promueve los valores éticos y humanísticos. Contamos con un cuerpo docente altamente calificado, comprometido con la formación integral de nuestros estudiantes, brindándoles conocimientos actualizados y las herramientas necesarias para destacar en sus respectivas disciplinas.
                     </p>
            </div>
        <div class=" Inicio-dos">
            <img src="../assets/Captura-de-Pantalla-2020-08-03-a-las-17.14.29.png" alt="" class="imagen-inicio">
        </div>
        </div>
      
    </div>



</main>

</template>

<script>
    export default {
        methods:{
            
        }
    }
</script>

<style  scoped>
main{
    height: 100%;
    
}
.inicio{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
/* .inicio{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 20%;
    margin-left: 50px;
} */
.parrafo{
    width: 75%;
    text-align: justify;
    margin-left: 10px;
    font-size: 20px;
}
.imagen-inicio{
    width: 114%;
    margin-bottom: 150px;
}
@keyframes float {
    0%, 100%{
        transform: translateX(0rem);

    }
    50%{
        transform: translateX(-2rem);
    }
}

.Inicio-dos{
    margin-right: 10rem;
}
@media (max-width: 940px) {
    .inicio-respon{
        display: grid;
        grid-template-columns: auto;
        
    }
    .inicio{
        width: 100%;
        align-items: center;
        margin: auto;
        margin-top: 5rem;
    }
    .Inicio-dos{
        width: auto;
    }
    .imagen-inicio{
        margin-left: 80px;
}

}
@media (max-width: 600px){
        .Inicio-dos{
        width: 50%;

    }
    @keyframes float {
    0%, 100%{
        transform: translateX(0rem);

    }
    50%{
        transform: translateX(-0.4rem);
    }
    
}
.imagen-inicio{
    width: 210%;
    margin-left: 20px;
}
}
.titulo-inicio{
    font-size: 40px;
    font-weight: 600;
}
.titulo-span{
    color: #3476b8;
}
</style>