<template>
<main>

  <SolicitudPostGrado/>
</main>
    </template>
  
  <script>
  // @ is an alias to /src
  import SolicitudPostGrado from '@/components/SolicitudPostGrado.vue';
  
  export default {
    components: {
    SolicitudPostGrado
}
  }
  </script>
  
  <style scoped>
  main{
    height: 100%;
}
</style>