<template>

  <footer class="text-center text-white " >
    <div class="container-xxl">
      <section class="mt-1">
        <div class="row text-center d-flex justify-content-center pt-5">

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark text-decoration-none"><router-link to="/TerminosyCondiciones" class="text-decoration-none text-white">Terminos Y condiciones</router-link></a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-dark text-decoration-none"><router-link to="/SobreNosotros" class="text-decoration-none text-white">Sobre Nosotros</router-link></a>
            </h6>
          </div>


          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold-6">
              <a href="#!" class="text-white text-decoration-none"><router-link to="/Ayuda" class="text-decoration-none text-white">Ayuda</router-link></a>
            </h6>
          </div>
        </div>
      </section>

      <hr class="my-5" />

      <section class="mb-3">
        <div class="row d-flex justify-content-center text-white">
          <div class="col-lg-10">
            <p>
              ¡Bienvenido a la Universidad Laica Eloy Alfaro de Manabí, donde florece el talento humano hacia el futuro!
            </p>
          </div>
        </div>
      </section>

    </div>

    <div
         class="text-center p-2 text-white border border-b-white "
         
         >
      © 2023 Copyright:
      <a class="text-white " 
         >Uleam.com</a
        >
    </div>

  </footer>

</template>

<script>
    export default {
        
    }
</script>

<style scoped>
footer{
    font-family: 'Rubik Moonrocks', cursive;
    background-color: #384B61;
}

</style>