<template>
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand " href="#"><router-link class="logo nav-link text-dark fw-bold" to="/" ><img src="../assets/251d8128-0301-4ff7-af27-fcf97e3e7f2e.png" alt="" width="160" height="60"></router-link></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse centrar " id="navbarNav">
      <ul class="navbar-nav fw-semibold">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#"><router-link class="nav-link" to="/" >  Inicio</router-link></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"><router-link class="nav-link" to="/ingreso"  v-if="!usuarioAutenticado" >Ingresar</router-link></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><router-link class="nav-link" to="/registro"  v-if="!usuarioAutenticado" >Registrar</router-link></a>
        </li>
                <li class="nav-item">
          <a class="nav-link prioridad" href="#"><router-link class="nav-link " to="/home" v-if="usuarioAutenticado">Reportes</router-link></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><router-link class="nav-link " to="/Postgrado" v-if="usuarioAutenticado">Solicitar Post-Grado</router-link></a>
        </li>
        <li class="nav-item">
          <a class="nav-link cerrar" v-if="usuarioAutenticado" @click="cerrarSesion">Cerrar Sesion</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

</template>

<script>
import { mapActions, mapGetters } from 'vuex';
    export default {
         data() {
        return {
            imagines:['https://grupotalentohumano.com/wp-content/uploads/2021/11/Logo-TH.png']
        }
    },
    computed:{
        ...mapGetters(['usuarioAutenticado']),
    }
    ,

     methods:{
        ...mapActions(['cerrarSesion']),

    }
     }
</script>

<style  scoped>

.centrar{
    display: flex;
    justify-content: flex-end;

}
.nav-link{
    padding: 0;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}
.nav-link:hover, .nav-link.active{
  color: darkslateblue;
}
.cerrar{
    cursor: pointer;
}
.navbar{
    background-color: transparent;
    font-family: 'Kreon', serif;
   
}
.logo{
  font-size: 29px;
}
.container-fluid{
  max-width: 1270px;
}
@media (max-width: 991px){
  .centrar{
    justify-content: center;
    transition: .5 ease all;
  }
  .prioridad{
    margin-top: -27px;
  }
}
@media (max-width: 575px){
  .logo{
    font-size: 25px;
    margin-left: 15px;
  }
}
@media (max-width: 375px){
  .logo{
    font-size: 20px;
    margin-left: 10px;
  }
}
@media (max-width: 282px){
  .logo{
    font-size: 19px;
    margin-left: 10px;
  }
  .nav-link{
    font-size: 16px;
  }
}

</style>