<template>
<main class="mx-5 mt-5 bgs mb-5 rounded-3">
    <div class="container-fluid uno ">
        <div class="row sdas">
           <h2 class="mb-5 text-primary" >Gestion de Talento Humano Uleam</h2>
            <div class="col ">
                <img src="../assets/SobreNosotros/aboutus.jpg" alt="" class="img-fluid imagen-uno">
            </div>
            <div class="col titulo">
                <h3 class=" mb-3 text-primary">Quiénes somos - Misión</h3>
                <p class="text mb-5" >Nuestra misión es formar y desarrollar talento humano altamente competente y comprometido con el progreso social, a través de una educación integral de calidad, basada en principios éticos y valores humanísticos, promoviendo la investigación y la innovación como motores del cambio.</p>
                <h3 class=" titulo mb-3 text-primary" >Visión</h3>
                <p class="text">Ser reconocidos como una institución líder en la formación de profesionales altamente capacitados, que contribuyan al desarrollo sostenible de la región y del país, destacándose por su excelencia académica, compromiso social y capacidad de adaptación a los desafíos del mundo globalizado.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid tres">
          <div class="row parte-tres ">
           <h2 class="mb-4 text-primary">Impotancia del fortalecimiento organizacional.</h2>
            <div class="col ">
                <p class="text texto-3">
                    Las Empresas se desarrollan en un entorno altamente competitivo, innovador y cambiante, 
                    donde las tecnologías y los modelos de gestión caducan o son copiados con facilidad por 
                    la competencia, dificultando su permanencia en el mercado.
                    <br>
                    <br>
                    La gestión del talento humano es de vital importancia en la creación de ventajas competitivas 
                    para la empresa, puesto que permite el desarrollo de un conjunto de competencias que la distinguen 
                    de las demás, proporcionando una base a largo plazo para realizar las innovaciones, cambios, 
                    desarrollo de productos y servicios y el logro de la misión y objetivos empresariales.
                    <br>
                    <br>
                    Es urgente trabajar en el desarrollo integral del equipo humano, que no sólo consiste 
                    en facilitar nuevos conocimientos, sino también en desarrollar comportamientos, habilidades 
                    y destrezas, así como fomentar una cultura de logro en un ambiente laboral apropiado, 
                    que fomente la productividad, el trabajo en equipo y la competitividad.
                    <br>
                    <br>
                    Una fuerza laboral implementada como una estrategia puede hacer que los planes de 
                    negocio sean una realidad, al contar con un equipo competente, calificado, comprometido
                     e involucrado.
                </p>
            </div>
            <div class="col">
                <img src="../assets/SobreNosotros/fuerza-empresarial.jpg" alt="" class="img-fluid imagen-3">
            </div>
        </div>
    </div>

</main>
</template>

<script>
    export default {
        
    }
</script>

<style  scoped>

.text{
    text-align: justify;
}
.imagen{
    height: 250px;
    width: 320px;
    object-fit: cover;
}
.epo{
    width: 250px;
    margin: auto;
    text-align: justify;
}
.bgs{
}
.uno{
    margin-bottom: 7rem;
}
.dos{
    margin-bottom: 7rem;
}
.tres{
    margin-bottom: 7rem;
}
.titulo{
    text-align: left;
}
@media(max-width: 1050px){
    .sdas{
        display: grid;
        grid-template-columns: auto;
    }
    .imagen-uno{
        width: 100vh;
    }
    .titulo{
        text-align: center;
    }
    .parte-tres{
        display: grid;
        grid-template-columns: auto;
    }
    .imagen-3{
        width: 100vh;
    }
    .titulo3{
        text-align: center;
    }
    .none{
        display: none;
    }
        .parte-2{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media(max-width: 955px) {
    

}
@media(max-width: 520px){
    .parte-2{
        display: grid;
        grid-template-columns: auto ;
    }
}
@media(max-width: 380px){
    .epo{
        width: 100%;
    }
    .parte-cuatro{
        display: grid;
        grid-template-columns: auto;
    }
}
@media(max-width: 300px){
    .texto-3{
        width: 90%;
    }
    .parte-tres{
        width: 100%
    }
}
</style>