<template>
    <div class="container  contenerdor">
        <form action="#">
            <div class="col-4 m-auto">
                <h2 class="text-center mb-4">Formulario de Post-Grado</h2>

                <input type="text" class="form-control mb-3" placeholder="Nombres" v-model="Registro.Nombres">
                <input type="text" class="form-control mb-3" placeholder="Apellidos" v-model="Registro.Apellidos">
                <input type="text" class="form-control mb-3" placeholder="Numero de Cedula" v-model="Registro.NumeroCedula">
                <label for="">Fecha de nacimiento</label>
                <input type="Date" class="form-control mb-3" v-model="Registro.FechaNacimiento">
                <input type="text" class="form-control mb-3" placeholder="Telefono" v-model="Registro.Celular">
                <input type="text" class="form-control mb-3" placeholder="Correo Electronico" v-model="Registro.CorreoElectronico">
                <input type="text" class="form-control mb-3" placeholder="Ciudad" v-model="Registro.Ciudad">
                <input type="text" class="form-control mb-3" placeholder="Direccion" v-model.trim="Registro.Direccion">
                    <label for="">Seleccione la carreara</label>
                    <select class="form-select" aria-label="Default select example" v-model="Registro.EstadoCivil">
                        <option selected>Selecione una opcion</option>
                        <option value="Ingeniería Mecánica">Ingeniería Mecánica</option>
                        <option value="Ingeniería Naval">Ingeniería Naval</option>
                        <option value="Ingeniería Eléctrica">Ingeniería Eléctrica</option>
                        <option value="Ingeniería en sistemas">Ingeniería en sistemas</option>
                        <option value="Ingeniería industrial">Ingeniería industrial</option>
                        <option value="Terapia">Terapia</option>
                        <option value="Secretario">Secretario</option>
                    </select>
                    <div class="mt-4">
                        <label for="" class="form-label mx-2 ">Selecione el modo: </label>
                        <input type="radio" name="si" id="" class="form-check-input" v-model="Registro.Discapacidad" value="Si">
                        <label for="" class="form-label me-3">Virutal</label>
                        <input type="radio" name="no" id="" class="form-check-input" v-model="Registro.Discapacidad" value="No">
                        <label for="" class="form-label ">Precensial</label>
                    </div>
            </div>

            <div class="row   mb-5 mt-2 boton">
                <button type="submit" class="btn btn-dark w-25" @click.prevent="procesarRegistro">Enviar</button>
            </div>
        </form>
    </div>
</template>

<script>
import { mapActions } from 'vuex';
import Swal from 'sweetalert2'

const shortid =require('shortid');

export default {
    data() {
        return {
            Registro:{
                id:'',
                NumeroCedula:'',
                Apellidos:'',
                Nombres:'',
                Sexo:'',
                FechaNacimiento:'',
                EstadoCivil:'',
                NombreConyuge:'',
                NumeroHijos:'',
                Ciudad:'',
                Direccion:'',
                Celular:'',
                CorreoElectronico:'',
                Discapacidad:''




            }
        }
    },
    methods:{
        ...mapActions(['setRegistros']),

        procesarRegistro(){
            //Validacion del numero de Cedula
            const regex = /^\d{10}$/
            if(!regex.test(this.Registro.NumeroCedula)){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El numero de cedula debe ser numero y minimo 10 digitos",
                }); return
                }
            //Validacion del Apellido 
            const regexName = /^[A-Za-z]{1,30}$/;
            const apellido= this.Registro.Apellidos.trim();
            if(!regexName.test(apellido)){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El Apellidos solo debe contener letras y como maximo 30 caracteres",
                }); return
                }
            //Validacion para Nombres
            const nombre = this.Registro.Nombres.trim();
            if(!regexName.test(nombre)){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El Nombre solo debe contener letras y como maximo 30 caracteres",
                }); return
                }
            //validar fecha de nacimiento 
            const fecha = new Date(this.Registro.FechaNacimiento);
            if(isNaN(fecha.getTime())){
                     Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "La fecha de nacimiento no es válida",
                }); return
                }else{
                    const fechaActual = new Date();
                    if(fecha > fechaActual){
                        Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "La fecha de nacimiento debe ser anterior a la fecha actual",
                }); return
                    }
                }

            //validar estado civil
            if(!this.Registro.EstadoCivil){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "En el apartado de Estado Civil Debe selecionar una opcion",
                }); return
            }
            //validar ciudad 
            const regexCiudad = /^[A-Za-z]{1,50}$/;
            const ciudad = this.Registro.Ciudad.trim();
            if(!regexCiudad.test(ciudad)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El campo Ciudad solo debe contener letras y como maximo 50 caracteres",
                }); return
            }

            //validar direccion
            const regexDireccion = /^[A-Za-z\s]{1,60}$/;
            const direccion = this.Registro.Direccion;
            if(!regexDireccion.test(direccion)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El campo Direccion solo debe contener letras y como maximo 60 caracteres",
                }); return
            }
            //validar numero telefonico
            const regexNumero = /^\d+$/;
            if(!regexNumero.test(this.Registro.Celular)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "El telefono solo debe contener numeros",
                }); return
            }

            //validar correco electronico
            const regexCorreo = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if(!regexCorreo.test(this.Registro.CorreoElectronico)){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "Escriba correctamente su correo electronico",
                }); return
            }
            //validar discacidad
            if(!this.Registro.Discapacidad){
                Swal.fire({
                    icon: "error",
                    title: "Error",
                    text: "En el apartado de Discapacidad selecione una opcion.",
                }); return
            }
            this.Registro.id = shortid.generate()
            this.setRegistros(this.Registro)
            this.Registro={
                NumeroCedula:'',
                Apellidos:'',
                Nombres:'',
                Sexo:'',
                FechaNacimiento:'',
                EstadoCivil:'',
                NombreConyuge:'',
                NumeroHijos:'',
                Ciudad:'',
                Direccion:'',
                Celular:'',
                CorreoElectronico:'',
                Discapacidad:''
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hola {

    display: flex;
    align-items: center;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}

</style>
